name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: oven-sh/setup-bun@v1
      with:
        bun-version: latest

    - name: Install dependencies
      run: bun install

    - name: Install Playwright Browsers
      run: bun x playwright install --with-deps chromium

    - name: Build App
      run: bun run build

    - name: Run Playwright tests
      run: bun x playwright test
      env:
        # Avoid issues with colors in logs
        FORCE_COLOR: 1

    - uses: actions/upload-artifact@v4
      if: always()
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
